*{
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
}
nav{
    height: 100;
    background-color: black;
}
nav .navbar-nav{
    margin-left: 20%;
}
nav .navbar-nav li a{
    color: rgba(245, 11, 11, 0.699) !important;
}
nav .navbar-nav li a.active
,nav .navbar-nav li a:hover{
    color:#f50707 !important;
    border-bottom: 2px solid #f80101 !important;}
nav .navbar-nav .dropdown-menu{
    background-color: grey;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 10px grey;
}
nav .navbar-nav .dropdown-menu li{
margin-left: 0;
border-radius: 100px;
background-color: grey;
}

nav .navbar-nav li{
    font-size: 50px;
    margin-left :40px ;
}
nav .navbar-brand{
    margin-left: 40px;
    margin-top: 0px;
    font: 100px message-box;
}
span{
    color: orangered;
}
.header{
    display: flex;
    background-image:url(../image/pexels-photo-1552242.jpeg) ;
    width: 100%;
    height: 1213px;
    justify-content: center;
    align-items: center;
}
.header .cont{
     position: relative;
    right: 60px;
    text-align: center;
    border-right: transparent;
    border-bottom:transparent ;
}
.header .cont h1{
    text-transform: uppercase;
    color: white;
    font-size: 200px;
}
.navbar .navbar-items li .active
,.navbar .navbar-items li:hover{
    color:#1abc9c;
    border-bottom: 2px solid #1abc9c;
}