.package div{
    border: red 10px solid;
    display: none;
}
button{
    font-size: 50px;
    background-color: rgba(255, 0, 0, 0.788);
    width: 100%;
    border: transparent;
}
.package div h1{
    font-size: 50px;
}
.display{
display: block;
}