body{
    background: url(../image/p.jpg);
}
.signUp-div{
    background-color: rgba(58, 70, 70, 0.6);
    width: 800px;
    height: 1150px;
    justify-content: center;
    box-shadow: slategray 30px 30px 60px;
    border-radius: 10px 100px 10px 100px;
    position: relative;
    top: 8%;
    left: 35%;
    padding: 10px;
}
div h1,label{
    color: white;
}
div h1{
    font-size: 120px;
    text-align: center;
    font-family:  monospace;

}
div label{
font-size: 70px;
font-style: italic;
margin-left: 10px;
}
div .form-control{
    display: flex;
    width: 88% ;
    padding-left: 10px;
    margin-left: 40px;
    font-size: 40px;
}
div .btn{
    position: relative;
    left: 20%;
    top: 4%;
    font-size: 50px;
    display: flex;
    text-align: center;
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: rgba(59, 75, 75, 0.788);
}
.or{
    position: relative;
    font-size: 50px;
    color: white;
    top: -3%;
    left: 48%;

}
.signUp{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 65% !important;
    top: -10.5% !important;
    background-color: rgba(59, 75, 75, 0.788);
}
.signUp a{
color: white;
font-size: 50px;
text-decoration:transparent !important;
}
.signUp a:hover{
    color: white;
}
#wrong,#wrongpass{
   display: none;
   margin-left: 20px;
  height: 2px;
  font-size: 25px;
  color: cornsilk;
}